<section class="container">

  <!-- KPI -->
  <section class="row">
      <div class="col-sm-6 col-sm-offset-3 kpis">
        <div class="panel panel-default">
          <div class="panel-heading">Average Estimated Pomodoros</div>
          <div class="panel-body">
              {{stats.averageEstimatedPomodoros}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Average Worked Pomodoros</div>
          <div class="panel-body">
              {{stats.averageWorkedPomodoros}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Average Estimated Pomodoros Per Day</div>
          <div class="panel-body">
              {{stats.averageEstimatedPomodorosPerDay}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Average Worked Pomodoros Per Day</div>
          <div class="panel-body">
              {{stats.averageWorkedPomodorosPerDay}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Max Worked Pomodoros Per Day</div>
          <div class="panel-body">
              {{stats.maxWorkedPomodorosPerDay}}
          </div>
        </div>
     </div>
 </section>
 
  <!-- tasks -->
  <!-- list tasks -->
  <section class="row">
    <div class="col-sm-6 col-sm-offset-3">
      
      <input type="text" class="form-control" placeholder="search..." ng-model="stats.searchTerm">
      <ul class="list-group">
          <li class="list-group-item" ng-repeat="task in stats.archivedTasks | filter:stats.searchTerm">
            {{ task.title }}
            <span class="label label-default">{{ task.workedPomodoros }}</span>
            <span class="label label-success">{{ task.pomodoros }}</span>
          </li>
      </ul>
    </div>
  </section>

</section>
