<section class="container">

  <!-- KPI -->
  <section class="row">
      <div class="col-sm-6 col-sm-offset-3 kpis">
        <div class="panel panel-default panel-kpi">
          <div class="panel-heading">Average Estimated Pomo's</div>
          <div class="panel-body">
              {{stats.averageEstimatedPomodoros | number}}
          </div>
        </div>
        <div class="panel panel-default panel-kpi">
          <div class="panel-heading">Average Worked Pomo's</div>
          <div class="panel-body">
              {{stats.averageWorkedPomodoros | number}}
          </div>
        </div>
        <div class="panel panel-default panel-kpi">
          <div class="panel-heading">Average Estimated Pomo's/Day</div>
          <div class="panel-body">
              {{stats.averageEstimatedPomodorosPerDay | number}}
          </div>
        </div>
        <div class="panel panel-default panel-kpi">
          <div class="panel-heading">Average Worked Pomo's/Day</div>
          <div class="panel-body">
              {{stats.averageWorkedPomodorosPerDay | number}}
          </div>
        </div>
        <div class="panel panel-default panel-kpi">
          <div class="panel-heading">Max Worked Pomo's/Day</div>
          <div class="panel-body">
              {{stats.maxWorkedPomodorosPerDay | number}}
          </div>
        </div>
     </div>
 </section>
 
  <!-- tasks -->
  <!-- list tasks -->
  <section class="row">
    <div class="col-sm-6 col-sm-offset-3">
      
      <input type="text" class="form-control" placeholder="search..." ng-model="stats.searchTerm">
      <ul class="list-group">
          <li class="list-group-item" ng-repeat="task in stats.archivedTasks | filter:stats.searchTerm">
            {{ task.title }}
            <span class="label label-default">{{ task.workedPomodoros }}</span>
            <span class="label label-success">{{ task.pomodoros }}</span>
          </li>
      </ul>
    </div>
  </section>

</section>
