<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- Using generator gulp angular https://github.com/Swiip/generator-gulp-angular -->
      <a class="navbar-brand" href="">
          <img src="assets/images/tomato-icon.png" height="20">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#tasks">Tasks</a></li>
        <li><a ng-href="#stats">Stats</a></li>
      </ul>
    </div>
  </div>
</nav>
